@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h5>All News</h5>

<table class="table">
    <tbody>
        @foreach (var item in Model.CustomerList)
        {
        <tr>
            <td>
                <h5>
             @item.HLine
                 </h5>
                <small>
                    @item.NCategory
                    &nbsp;
                    @item.NCity
                    &nbsp;
                    @item.NDate
                </small>
                <br>
                @Html.DisplayFor(modelItem => item.NDetails)
            </td>
        </tr>
        }
    </tbody>
</table> 